@import url("https://fonts.googleapis.com/css2?family=Galada&family=Orbitron:wght@500&family=Poppins:ital,wght@1,100&family=Vollkorn:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Poppins:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Poppins:ital,wght@1,100&family=Vollkorn:ital@1&display=swap");
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
html{
  scroll-behavior: smooth;
}

/* Preloader */
#loading {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #f5f7f8;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center; }
#loading img {
  width: 50%;
  height: 50vh; 
}
.navbar {
  height: 85px;
  background: #008000;
  border-bottom: 2px solid #fff;
}
.navbar .nav-item {
    padding-left: 1em; 
  } 
.navbar .nav-link {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
  }
.navbar .nav-link:hover{
    color: #fff !important;
    transform: translateY(-2.5px);
    transition: all 0.5s ease;
  }
.navbar .nav-link::after{
    content: " ";
    position: absolute;
    background-color: #f5bf03;
    height: 2.5px;
    width: 0;
    left: 6px;
    bottom: -0.1px;
    transition: all 0.5s ease;
  }
.nav-link:hover:after{
    width: 90%;
  }
.navbar .container img{
      border-radius: 50px;
    }
.navbar .container h3 {
    color: #f5bf03;
    font-size: 35px;
    font-weight: 600; 
  }
.divfalse {
  margin-top: 110px; }
/* *****************************************************************
    Styling Text Animation: 
***************************************************************** */
.center-div {
  display: flex;
  min-height: 40vh;
  width: 100%;
  background: #252839; 
}
.animateText {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }
.center-div .animateText h2 {
  position: relative;
  font-size: 5vw;
  color: #383d52;
  -webkit-text-stroke: 0.3vw #383d52; }
.center-div h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #01fe87;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #01fe87;
  overflow: hidden;
  animation: animate 5s linear infinite; }
@keyframes animate {
  0%, 10%, 100% {
    width: 0; }
  70%, 90% {
    width: 100%; } }

/* ******************************************************
    Styling Carousel
****************************************************** */
#showcase{
  box-shadow: 2px 3px 18px 1px rgba(0, 0, 0, 0.39);
}
#showcase:hover{
  box-shadow: 0 0 15px #275be9;
}
.carousel-indicators li{
  width: 30px;
  height:6px;
  background-color: rgb(225, 245, 6);
}
.carousel .carousel-control-prev{
  position: absolute;
  left: 40px;
  top: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(167, 168, 150);
  opacity: 0.4;
  border-radius: 50px;
  background-position: 50%;
}
.carousel .carousel-control-next{
  position: absolute;
  right: 43px;
  top: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(167, 168, 150);
  opacity: 0.4;
  border-radius: 50px;
  background-position: 50%;
}
.carousel .carousel-control-prev:hover{
  background-color: crimson;  
}
.carousel .carousel-control-next:hover{
   background-color: crimson; 
}
.carousel-item {
  position: relative;
  /* height: 540px; */
  height: 600px;
  width: 100%; 
  background-size: cover;
}
.carousel-img-1 {
  background: url("../img/Carousel/PM-101.png") no-repeat center;
  background-size: cover;
}
.carousel-item .container .carousel-caption  h1{
  font-size: 40px;
  /* color: #c608e7; */
  color: crimson;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.carousel-img-1 .container p{
    font-size: 29px;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
    text-shadow: 2px 2px #000;
}
.carousel-img-2 {
  background: url("../img/Carousel/scientist1000.png") no-repeat center;
  background-size: cover; }
.carousel-img-2 .container h1{
  font-size: 35px;
  /* color: #c608e7; */
  color: crimson;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.carousel-img-2 .container p{
    font-size: 23px;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    /* padding-left: 10px; */
    text-shadow: 2px 2px #000;
}
.carousel-img-3 {
  background: url("../img/Carousel/SonaliBagAllProducts.png") no-repeat center;
  background-size: cover; }
.carousel-img-4 {
  background: url("../img/Carousel/Scientist3.jpg") no-repeat center;
  background-size: cover; }
.carousel-img-5 {
  background: url("../img/Carousel/Scientist2.jpg") no-repeat center;
  background-size: cover; }
.carousel-img-6 {
  background: url("../img/Carousel/Flow Chart Of Sonali Bag.png") no-repeat center;
  background-size: cover; }
/* ***************************************************************
    Home section Styling
*************************************************************** */
.weird-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #3c2846;
    margin-top: 47px;
    margin-bottom: 60px;
}
.weird-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 40px; */
    padding-top: 40px;
    padding-bottom: 40px;
}
.weird-card{
    position: relative;
    width: 340px;
    /* height: 450px; */
    height: 680px;
    margin: 30px;
    background: #287bff;
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: 0 15px 0 #fff,
    inset 0 -15px 0 rgba(255,255,255,0.25), 0 45px 0 rgba(0,0,0,0.15);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.weird-card::before{
    content: "";
    position: absolute;
    top: -140px;
    left: -40%;
    width: 100%;
    height: 120%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.2));
    transform: rotate(35deg);
    pointer-events: none;
    filter: blur(5px);
}
.weird-card:nth-child(1){
    background: linear-gradient(to bottom, #ff2ae0, #645bf6);
}
.weird-card:nth-child(2){
    background: linear-gradient(to bottom, #ffec61, #f321d7);
}
.weird-card:nth-child(3){
    background: linear-gradient(to bottom, #24ff72, #9a4eff);
}
.weird-icon{
    position: relative;
    width: 140px;
    height: 120px;
    background:#3c2846 ;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow:0 10px 0 rgba(0,0,0,0.1),
    inset 0 -8px 0 #fff ;
    z-index: 1000;
    display: flex;
    justify-content: center;
}
.weird-icon::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 50px;
    /* background: #f00; */
    background: transparent;
    border-top-right-radius: 50px;
    box-shadow: 15px -15px 0 15px #3c2846;
}
.weird-icon::after{
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    /* background: #f00; */
    background: transparent;
    border-top-left-radius: 50px;
    box-shadow: -15px -15px 0 15px #3c2846;
}
.weird-icon ion-icon{
    color: #fff;
    position: relative;
    font-size: 6em;
    z-index: 10000;
    --ionicon-stroke-width: 24px;
}
.weird-content{
    position: absolute;
    width: 100%;
    padding: 30px;
    padding-top: 140px;
    text-align: center;
}
.weird-content h2{
    font-size: 1.75em;
    color: #fff;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.weird-content p{
    color: #fff;
    font-size: 15px;
    line-height: 1.3em;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}
.weird-card:hover{
  box-shadow: 0 15px 0 #2ac587,
    inset 0 -15px 0 rgba(255,255,255,0.25), 0 45px 0 rgba(0,0,0,0.15);
     transition: all 0.7s ease;
}
.weird-card:hover .weird-icon {
  box-shadow: 0 15px 0 #f5bf03,
    inset 0 -15px 0 rgba(255,255,255,0.25), 0 45px 0 rgba(0,0,0,0.15);
    transition: all 0.7s ease;
} 
/******************************Home Get Started******************************
    Home Page - About BJMC Section 
*********************************************************** */
.aboutBJMC{
  position: relative;
  padding: 80px 120px;
  margin-bottom: 70px;
  color: #000;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  border: 5px double #008000;
  background-color: #f2eded;
  /* background: url("../img/pic jute/jute-7.jpg") no-repeat center;
  background-size: cover;   */
} 

/* ***********************************************************
    Home Page - Home Get Started
*********************************************************** */
#getStarted {
  position: relative;
  background: url("../img/jute-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 350px; }
  #getStarted .dark-overlay {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #getStarted .container h2 {
    color: gold;
    font-size: 2.8rem; 
    font-weight: 600; 
  }
   #getStarted .container p{
    font-size: 1.5rem;
    font-weight: 200;
    color: #fff;
   }
/* ***********************************************************
    Home Page - Home Youtube Video Section
*********************************************************** */
.maxWidth200 {
  padding: 5%; 
}
  .maxWidth200 h2{
    margin-bottom: 4vh;
    font-weight: 600;
    color: green ;
    text-shadow: 2px 2px #000;
    font-family: 'Poppins', sans-serif;
  }
.containerYoutubeVideo {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  border: 5px solid crimson; 
  box-shadow: 0 0 15px rgba(7, 7, 7, 0.9);
}
.containerYoutubeVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px; }

/* ***********************************************************
    Home Page - Home Info
*********************************************************** */
#homeInfo{
  margin-top: 50px;
  margin-bottom: -30px;
  font-family: 'Poppins', sans-serif; 
}
#homeInfo .container p{
  text-align: justify;
  padding-top: 10px;
  padding-right: 60px;
  margin-bottom: 30px;
  color: #000;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.border-Animated{
    height: 300px;
    width: 400px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.3);
    overflow: hidden;
}
.border-Animated:before{
    content: "";
    height: 220%;
    width: 220%;
    position: absolute;
    background: conic-gradient(
        #fd004c,
        #fe9000,
        #fff020,
        #3edf4b,
        #3363ff,
        #b102b7,
        #fd004c
    );
    left: -60%;
    top: -60%;
    animation: spin 3.5s infinite linear;
}
@keyframes spin{
    100%{
        transform: rotate(-360deg);
    }
}
.border-Animated:after{
    content: "";
    position: absolute;
    background: url('../img/Carousel/scientist1000.png') no-repeat center;
    background-size: cover; 
    object-fit: cover;
    height:90%;
    width: 94%;
    top: 4.8%;
    left: 3.4%;
    border-radius: 5px;
    display: grid;
    place-items: center;
}
/* ***********************************************************
    Home Page - Product Gallery
*********************************************************** */
#productgallery {
  position: relative;
  margin-bottom: 70px; }
.containerGallery {
  position: relative;
  background: #262626;
  margin-top: 50px; }
.head h2 {
  color: #f5bf03;
  text-align: center;
  font-size: 3rem;
}
.head h4 {
  color: #fff;
  text-align: center; } 
.gallery {
  position: relative;
  max-width: 100%;
  background: #262626;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  margin: auto;
  padding-bottom: 100px; }
.gallery .box {
  position: relative;
  width: 280px;
  height: 250px;
  background: #77776a;
  margin: 12px;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden; }
.gallery .box .imgBox {
  position: relative; }
.gallery .box .imgBox img {
  width: 280px;
  height: 250px;
  transition: transform 3s; }
.gallery .box:hover .imgBox img {
  transform: scale(2, 2); }
.gallery .box .details {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.8);
  transform: scaleY(0);
  transition: transform .5s; }
.gallery .box:hover .details {
  transform: scaleY(1); }
.gallery .box .details .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 25px; */
  color: #fff; }
.gallery .box .details .content h2 {
  margin: 0;
  padding: 0;
  font-size: 22px;
  color: #ff0;
  text-align: center; }
.gallery .box .details .content p {
  margin: 10px 0 0;
  padding: 0; 
  text-align: center;}
#secFooterIndex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: #ede7f6; }
/* ********************************************************
  Footer for All page
******************************************************** */
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px 7%;
  padding-top: 30px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
footer .containerFooter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row; }
footer .containerFooter .aboutusFooter {
  width: 32%; }
footer .containerFooter h2 {
  position: relative;
  color: #fff;
  margin-bottom: 35px; 
  margin-top: 25px;
}
footer .containerFooter h2:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00; }
footer p {
  color: #999; }
.sci {
  margin-top: 20px;
  display: flex; }
.sci li {
  list-style: none; }
.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px; }
.sci li a:hover {
  background: #f00; }
.quickLinks {
  position: relative;
  width: 28%;
  margin-left: 80px; 
}
.quickLinks ul{
  padding-left: 0 !important;
}
.quickLinks ul li {
  list-style: none;
  padding-left: 10px; 
}
.quickLinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block; }
.quickLinks ul li a:hover {
  color: #fff; }
.contact {
  width: 33%;
  margin-right: 0 !important; }
.contact ul{
  padding-left: 0 !important;
}
.contact .info {
  position: relative; }

.contact .info li {
  display: flex;
  margin-bottom: 16px; }
.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px; }
  .contact .info li:nth-child(3){
margin-top: -20px !important;
  }
.contact .info li span {
  color: #999; }
.contact .info li a {
  color: #999;
  text-decoration: none; }
.contact .info li a:hover {
  color: #fff; }
.copyrighttext {
  width: 100%;
  background: #181818;
  padding: 20px 100px;
  padding-top: 24px;
  text-align: center;
  color: #999; 
  font-size: 17px;
}
.copyrighttext p a{
  text-decoration: none;
}
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  color: red;
  background: #00abff;
  padding: 5px;
  border-radius: 10px; }
#myBtn:hover {
  background: #606060; }
/* ******************************************************
  Styling About.html 
****************************************************** */
#page-header {
  margin-top: 110px;
  background: url(../images/juteFarmer.jpg) no-repeat center;
  background-size: cover;
  height: 400px;
  background-attachment: fixed; }
#page-header .textAbout {
  font-family: 'Galada', cursive;
  font-size: 40px; }
#aboutSecFooter {
  margin-top: 50px; }
#secWrapper {
  box-sizing: border-box;
  margin-top: 50px; 
}
.about-wrapper {
  height: 100vh; }
.about-left {
  background: #f26a8d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width: 90%;
}
.about-left-content > div {
  background: #f49cbb;
  padding: 4rem 4rem 2.5rem 5rem;
  text-align: center; 
}
.about-left-content:hover{
  box-shadow: 0 0 20px #4070f4;
} 
.about-left-content {
  box-shadow: 2px 3px 18px 1px rgba(0, 0, 0, 0.39); }
.about-img img {
  display: block;
  width: 200px; }
.about-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.5s ease-in-out; }
.shadow {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  cursor: pointer; }
.shadow::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  height: 7px;
  width: 50px;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  opacity: 0;
  transition: all 0.6s ease; }
.about-wrapper:hover .about-img {
  transform: translateY(-15px); 
}
/* .shadow:hover .about-img {
  transform: translateY(-10px); } */
.shadow:hover::after {
  opacity: 1; 
} 
.about-left-content h2 {
  font-size: 2rem;
  margin: 2.2rem 0 0.6rem 0;
  line-height: 1.2;
  padding-bottom: 1rem;
  border-bottom: 2px solid #edffec; }
.about-left-content h3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 1.2rem; }
.icons {
  background: #fff;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0; 
}
.icons li {
  list-style-type: none;
  background: #f36a8d;
  color: #fff;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out; }
.icons li:hover {
  background: #edffec;
  color: #000; }
.about-right {
  background: #fff;
  height: 100vh; }
.about-right {
  background: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  text-align: center; }
.about-right h1 {
  font-size: 7rem;
  text-transform: uppercase; }
.about-right h1 span {
  color: #dd2d4a; }
.about-right h2 {
  font-weight: 600; }
.about-btns {
  display: flex;
  margin: 2rem; }
.btn {
  border: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 0.55rem 0;
  width: 130px;
  font-weight: 600;
  background: transparent;
  margin: 0 0.5rem;
  cursor: pointer; }
.btn.btn-pink {
  background: #dd2d4a;
  color: #fff;
  border-color: #dd2d4a;
  transition: all 0.5s ease-in-out; }
.btn.btn-pink:hover {
  background: transparent;
  border-color: #dd2d4a;
  color: #000; }
.btn.btn-white {
  transition: all 0.5s ease-in-out; }
.btn.btn-white:hover {
  background: #dd2d4a;
  border-color: #dd2d4a; }
  .btn.btn-white:hover a {
    color: #fff; }
.about-para p {
  font-weight: 600;
  padding: 0.5rem;
  opacity: 0.8; }
.article {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 5%;
  background: #e7f2fd;
  font-size: larger;
  line-height: 20px; }
.article-border {
  border: 30px solid;
  border-image-source: url("../images/borders.jpg");
  border-image-slice: 25;
  padding: 17px; }
.article .article-border h3 {
  margin-top: 50px;
  padding-bottom: 10px;
  font-style: italic; }
.article .article-border p {
  text-align: justify;
  line-height: 1.6; }
<!--Styling Project Funding Table Start-->
table, td, th {  
  border: 2px solid #ddd;
  text-align: left;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 15px;
}
#author{
  margin-bottom: 60px;
}
#author img {
  margin-top: -50px; }

#author .fa {
  font-size: 25px; }
#author .card{
    background: #e7f2fd;
    box-shadow: 2px 3px 18px 1px rgba(0, 0, 0, 0.30);
  }
#author .container .card .card-body img{
  border: 2px solid #fff;
}
#author .card:hover {
  background: #3292a6;
  color: #fff;
  transition: all 0.8s ease; 
}
#author .card:hover img{
 transform: translateY(-6px);
 transition: all 0.5s ease-in-out; 
}
#author .card:hover .fa {
    color: #fff; }
.aboutUs-footer-sci{
        padding-left: 0 !important;
      }
/* ******************************************************
   Styling Gallery/Blog.html 
****************************************************** */
/* Filterable Image Gallery */
.containerFilter{
    position: relative;
    /* min-height: 100vh; */
    background: #e7f2fd;
    /* max-width: 1350px; */
    width: 100%;
    margin: 50px auto;
    margin-top: 100px;
    padding: 20px;   
}
.filter_buttons button1{
    flex-wrap: wrap;
    padding: 10px 20px;
    font-size: 18px;
    background: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.filter_buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}
button1.active1{
    background: #4070f4;
    color: #fff;
}
button1:hover{
    background: #4070f4;
    color: #fff;
}
.filterable_cards{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cardFilter{
    /* flex-grow: 1; */
    flex-basis: 300px;
    background-color: #fff;
    padding: 3px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.cardFilter:hover{
    box-shadow: 0 0 20px #4070f4;
    .card_body h6{
      color: #4070f4;
    }
}
.cardFilter.hide{
    display: none;
}
.cardFilter img{
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.card_body{
    padding: 15px 20px 20px;
}
.card_title{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.card_text{
    font-size: 18px;
    color: #333;
}
/* News Gallary */

#particles-js{
     width: 100%;  
     height: 235vh; 
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../img/newsbackground (2).jpg"); 
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center; 
}
.news{
  position: absolute;
   margin-top: 60px;
   padding: 50px 40px ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.news h1,h4{
  color: #fff;
}
.news a{
  color: #e0d0d0;
  font-size: 15px;
}
.news a:hover{
  background-color: green;
}
/* Video Gallary */
#videoGallery {
  margin-top: 60px;
  padding-top: 30px;
  box-sizing: border-box;
  text-transform: capitalize;
  background: #eee; }
.headingVideo {
  /* color: #444; */
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 10px; 
  margin-bottom: 25px;
}
.containerVdo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  align-items: flex-start;
  padding: 5px 5%; }
.containerVdo .main-video {
  background: #fff;
  border-radius: 5px;
  padding: 10px; }
.containerVdo .main-video video {
  width: 100%;
  border-radius: 5px; }
.containerVdo .main-video .title {
  color: #333;
  font-size: 23px;
  padding-top: 15px;
  padding-bottom: 15px; }
.containerVdo .video-list {
  background: #fff;
  border-radius: 5px;
  height: 380px;
  overflow-y: scroll; 
}
.containerVdo .video-list .title {
  font-size: 15px; }
.containerVdo .video-list::webkit-scrollbar {
  width: 7px; }
.containerVdo .video-list::webkit-scrollbar-track {
  background: #ccc;
  border-radius: 50px; }
.containerVdo .video-list::webkit-scrollbar-thumb {
  background: #666666;
  border-radius: 50px; }
.containerVdo .video-list .vid video {
  width: 100px;
  border-radius: 5px; }
.containerVdo .video-list .vid {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #f7f7f7;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer; }
.containerVdo .video-list .vid:hover {
  background: #8cb9d4; }
.containerVdo .video-list .vid.active {
  background: #2980b9; }
.containerVdo .video-list .vid.active.title {
  color: #fff; }
.containerVdo .video-list .vid.title {
  color: #333;
  font-size: 17px; }
#accordion {
  margin-top: 10vh;
  background: #0e3959; }
#accordion h2 {
  color: #fff;
  font-weight: 400;
  font-style: italic; }
  #accordion .card:hover{
    background: #008000 !important;
    color: #fff !important;
    .card-header a{
      color: #fff !important;
      transition: all 0.9s ease;
    }
   transition: all 0.9s ease;
  }
/* *******************************************************
    Styling Service.html
******************************************************* */
.rotatingContainer{
    background-color: #0e6ffc;
    margin-top: 130px;
    height: 50vh;
    display: grid;
    place-items: center;
    /* font-family: "Poppins", sans-serif; */
    font-size: 45px;
    font-weight: 500;
}
.wrapper-rotating{
    box-sizing: content-box;
    background-color: #ddd4d4;
    height: 70px;
    padding: 40px 40px;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 20px 25px rgba(0,0,0,0.2);
}
.words-rotating{
    overflow: hidden;
}
.words-rotating span{
    display: block;
    height: 100%;
    padding-left: 10px;
    color: #0e6ffc;
    /* border: 1px solid orange; */
    animation: spin_words 10s infinite;
}
@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}
/* Styling Significant start  */
.significant{
  padding: 60px;
  margin-top: 50px;
  background: #ddd4d4;
}
.significant p{
  color: #000;
  font-size: 18px;
}

#productDisplay {
  margin-top: 60px; }

.containerProduct {
  padding: 50px;
  background: #6fa1c2; }
.containerProduct p{
  line-height: 1.6rem;
  font-family: 'Poppins', sans-serif;
  }
.containerProduct .imageProduct img {
  width: 80%;
  height: 350px;
  box-shadow: 0 0 15px rgba(7, 7, 7, 0.9); 
}
.containerProduct .imageProduct img:hover{
  box-shadow: 0 0 20px #4070f4;
}
.containerProduct .row {
  background: #ddd4d4;
  border-radius: 50px 0;
  box-shadow: 0 0 15px rgba(7, 7, 7, 0.9); 
}
.containerProduct .row .textF {
  font-family: 'Vollkorn', serif; }
#secFooterServices {
  margin-top: 30px; }
/* *********************************************************  
    Styling Contact Us 
********************************************************* */
.text-animation{
  /* background-color: #01fe87; */
  width: 100%;
  height: 200px;
  background: url("../images/saluyot-jute-leaves-1296x728-header.webp") center;
  background-repeat: no-repeat;
  object-fit: cover;
  margin-top: 130px;
  margin-bottom: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center; 
  /* box-shadow: 0 0 15px rgba(7, 7, 7, 0.9); */
}
.text-animation .infinity-text h1{
  font-size: 190px;
  line-height: 160px;
  background: url('../images/back-animation.png');
  color: transparent;
  -webkit-text-stroke: 1px #fff; 
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 10s linear infinite;   
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
#contactUs {
  position: relative;
  width: 100%;
  padding: 40px 100px;
  margin-top: 60px;
  max-height: 160vh;
  background: linear-gradient(90deg, #0e3959 0%, #0e3959 30%, #03a9f5 30%, #03a9f5 100%);
  margin-top: 115px; }
#contactUs .titleContact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif; 
}
#contactUs .titleContact h2 {
  color: #fff;
  font-size: 3em;
  font-weight: 500; }
#contactUs .boxContact .formc p{
  font-size: 1rem;
  /* padding: 50px; */
}
.formc{
  height: 870px;
}
.contactt:hover{
  box-shadow: 0 5px 35px rgba(246, 246, 244, 0.5);
}
.contactt .imagec {
  max-width: 500px;
  margin: 50px auto;
}
.formc {
  grid-area: formc; }
.infoc {
  grid-area: infoc; }
.mapc {
  grid-area: mapc; }
.contactt {
  padding: 40px;
  background: #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.5); }
.boxContact {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: "formc infoc"
 "formc mapc";
  grid-gap: 20px;
  margin-top: 20px; }
.boxContact .formc h3{
  color: green;
  font-size: 35px;
  text-shadow: 2px 2px #3a3535;
}
.contactt h3 {
  color: #0e3959;
  font-weight: 500;
  font-size: 1.8em;
  margin-bottom: 10px; }
.infoc {
  background: #0e3959; }
.infoc h3 {
  color: #fff; }
.infoc .infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px; }
.infoc .infoBox div span {
  min-width: 40px;
  height: 40px;
  color: #fff;
  background: #18b7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px; }
.infoc .infoBox div p {
  color: #fff;
  font-size: 1.1em; 
  /* font-family: 'Poppins', sans-serif; */
}
.infoc .infoBox div a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em; }
.sml {
  margin-top: 40px;
  display: flex; }
.sml li {
  list-style: none;
  margin-right: 15px; }
.sml li a {
  color: #fff;
  font-size: 2em;
  color: #ccc; }
.sml li a:hover {
  color: #f30bad; }
.mapc {
  position: relative;
  padding: 0; 
  height: 339px;
}
.mapc iframe {
  width: 100%;
  height: 100%; }
#secFooterContact {
  position: relative;
  margin-top: 40px; 
}
/* *****************************************************
    Media query 
***************************************************** */
@media screen and (max-width: 1920px){
  /* News section Gallery/Blog */
      #particles-js{
         width: 100%;  
         height: 240vh; 
     }
}
@media (min-width: 1400px){
/* Navbar */
  .navbar {
    height: 115px;
  }
  .navbar .container{
    max-width: 1900px;
    margin-left: 120px;
    margin-right: 120px;
  }
  .navbar .nav-item {
    padding-left: 1em; 
  } 
  .navbar .nav-link {
    font-size: 22px;
  }
  .navbar .container h3 { 
    font-size: 45px;
  }
  .divfalse {
    margin-top: 160px; 
  }
/* Carousel */
  .carousel-item {
    height: 950px;
    width: 100%; 
  }
  .carousel-img-6 {
    background: url("../img/Carousel/FlowChartResponsive.png") no-repeat center; 
  } 
  .weird-card{
    width: 400px;
    height: 520px;
  }
  .weird-content{
    padding: 45px;
    padding-top: 170px;
  }
  .weird-content h2{
    font-size: 2em;
    margin-bottom: 15px;
  }
  .weird-content p{
    font-size: 18px;
    line-height: 1.3em;
  }
  #getStarted {
    position: relative;
    background: url("../img/jute-2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 450px; 
  }

/* Home Section */
  #homeInfo .container{
     margin-top: 100px;
     margin-bottom: 20px;
      max-width: 1500px;
    }
  .border-Animated{
    height: 400px;
    width: 400px;
  }
/* Home - Gallery */
  .gallery .box {
    width: 380px;
    height: 350px;
  }
  .gallery .box .imgBox img {
    width: 380px;
    height: 350px;
  }
/* Footer */
  footer {
    width: 100%;
    height: auto;
    padding: 30px 10%;
    padding-top: 80px; 
  }
  footer .containerFooter .aboutusFooter {
    width: 32%; 
  }
  #secFooterIndexx .containerFooter .sec h2 {
   margin-bottom: 50px; 
  }
.containerFooter .sec h2{
    margin-bottom: 50px;
  }
  .sci {
    margin-top: 33px;
  }
  .sci li a {
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    ; 
  }
  .quickLinks {
    position: relative;
    width: 22%;
    margin-left: 120px; 
  }
  .quickLinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 13px;
    display: inline-block; 
  }
  .contact {
    width: 33%;
    margin-right: 0 !important; }
  .contact ul{
    padding-left: 0 !important;
  }
  .contact .info li {
      display: flex;
      margin-bottom: 16px; }
  .contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
      margin-right: 15px; }
  .contact .info li:nth-child(3){
    margin-top: -20px !important;
  }

/* About Us Page */
  #page-header {
    margin-top: 160px;
   }
  .about-left {
    background: #f26a8d;
    height: 100vh; 
    width: 90%;
  }
  .about-left-content > div {
    background: #f49cbb;
    padding: 7rem 8.5rem 4.5rem 9rem;
  }
  .about-img img {
    display: block;
    width: 900px; }
  .about-img {
    width: 300px;
    height: 300px;
  }
  .shadow {
    width: 300px;
    height: 300px;
  }
/* Services Page */
.rotatingContainer{
    margin-top: 160px;
  }
  .containerProduct .imageProduct img {
    width: 80%;
    height: 460px;
  }
  #productDisplay .containerProduct h2{
    text-align: center;
    margin-top: 50px;
  }
/* Gallery/Blog */
  .filter_buttons{
    margin-top: 50px;
  }
  .cardFilter{
/* flex-grow: 1; */
    flex-basis: 400px;
    padding: 3px;
  }
  .cardFilter img{
    width: 100%;
    height: 300px;
  }

  /* News section Gallery/Blog */
      #particles-js{
         width: 100%;  
         height: 280vh; 
     }
  .containerVdo .video-list {
    height: 600px;
  }
  .containerVdo .video-list .vid h3{
    font-size: 20px;
  }
  /* Contact Us Page */
  .text-animation{
    margin-top: 164px;
  }
  .mapc {
    height: 377px;
  }
}

/* Max Width */
@media (max-width: 991px) { 
  /* Carousel Home Page  */
    .carousel-img-6 {
        background: url("../img/Carousel/FlowChartResponsive.png") no-repeat center;
        background-size: cover;  
      } 
  /* About Us Page */
    .about-left {
        width: 100%;
      }
    .article {
        margin-top: 100vh; 
      }  
    /* Blog/Gallery Page */
    .containerVdo {
        grid-template-columns: 1.5fr 1fr;
        padding: 10px; 
      } 
  /* News section Gallery/Blog */
      #particles-js{
         width: 100%;  
         height: 300vh; 
         margin-bottom: 50px;
     }
  /* Contact Us Page */
    .text-animation{
        width: 100%;
        height: 150px;
      }
    .text-animation .infinity-text h1{
        font-size: 110px;
      }
    #contactUs {
        background: #03e9f5;
        padding: 20px;
        max-height: 380vh; 
      }
    .boxContact {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "formc"
                              "infoc"
                              "mapc"; 
        }
      .contactt {
          padding: 30px; 
        }
      .mapc {
          min-height: 300px;
          padding: 0; 
        } 
    /* Footer section for All pages */
      footer .containerFooter .aboutusFooter{
          width: 60%;
      }
      footer .containerFooter .quickLinks{
          width: 60%;
          margin-left: 0 !important;
      }
      footer .containerFooter .contact{
          width: 60%;
          /* margin-left: 0 !important; */
      }
      footer {
          padding: 20px; 
        }
      footer .containerFooter {
          flex-direction: column;
          align-content: center; 
        }
      footer .containerFooter .sec {
          margin-right: 0;
          margin-bottom: 40px; 
        }
      footer .containerFooter .sec .quickLinks .contact {
          width: 100%; 
        }
  /* Copy right Under footer section */
      .copyrighttext {
           padding: 8px 40px; 
        } 
  }
/* Min Width */
@media screen and (min-width: 991px) {
      /* About Us Page */
        #secWrapper {
            margin-top: 120px; 
        }
        .about-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
        }
        .about-left {
            position: relative; 
        }
        .about-left-content {
            position: absolute;
            right: -50px; 
        }
        .article {
            margin-top: 100px; 
        }  
}
@media screen and (max-width: 839px){
  /* News section Gallery/Blog */
      #particles-js{
         width: 100%;  
         height: 260vh; 
     }
}
@media (max-width: 767px) {
    /* Home Page Carousel */
        .carousel-item {
            height: 340px;
            width: 100%; 
        } 
        .carousel-img-6 {
          background: url("../img/Carousel/FlowChartResponsive.png") no-repeat center;
          background-size: cover;  
      }
    /* Navbar for All Page */
        #navbarNav{
            background-color: #111;
            margin-top: 30px;
            padding: 20px;
            padding-bottom: 50px;
            opacity: 0.9;
            border: 2px solid #fff;
        }
        #navbarNav .nav-item .nav-link { 
            font-size: 18px;
            font-weight: 600;
            /* color: #0fe621; */
             color: #fff;
            padding: 10px;
            text-decoration: underline;
            text-decoration-color: crimson;
            text-decoration-thickness: 2.5px;
        }
        #navbarNav .nav-item:nth-child(1) {
            margin-top: 30px; 
        }
        .nav-link:hover:after{
            width: 0;
        }
    /* Home Page Carousel */
        .carousel-item .container .carousel-caption  h1{
            font-size: 20px;
        }
        .carousel-img-1 .container p{
            font-size: 16px;
        }
        .carousel-img-2 .container h1{
            font-size: 35px;
        }
        .carousel-img-2 .container p{
            font-size: 23px;
        }
        #getStarted {
            min-height: 400px; 
        } 
      /* About Us Page */
        .about-left {
            width: 100%;
            margin-top: 100px;
        }
        .about-right {
            margin-top: 140px; 
        }
        .article {
            margin-top: 150vh;
        } 
    /* Services Page */
        #productDisplay .containerProduct .imageProduct img{
            width: 90%;
            height: 300px !important;
        }
    /* Contact Us Page */  
        .text-animation{
            width: 100%;
            height: 150px;
        }
        .text-animation .infinity-text h1{
            font-size: 90px;
        }
        #contactUs {
            padding: 20px;
            max-height: 390vh; 
        } 
    /* Footer section for All pages */
      footer {
          padding: 10px 1%; 
          padding-top: 40px;
        }
      .contact {
          width: 29%; 
        } 
}
/* 768 not 767 */
@media (max-width: 768px) {
  /* Home Page Carousel */
      #showcase{
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
  /* News section Gallery/Blog */
      #particles-js{
         width: 100%;  
         height: 300vh; 
     }
   /* Blog/Gallery Page */
      .containerVdo {
          grid-template-columns: 1fr; 
        } 
}
@media screen and (max-width: 560px){
   /*Contact Us Page */  
      .text-animation{
          width: 100%;
          height: 130px;
        }
      .text-animation .infinity-text h1{
          font-size: 70px;
        }
}
@media screen and (max-width: 480px) {

  /*Home Page Preloader */
      #loading {
          width: 100%;
          height: 100vh;
          background: #fff; 
      }
      #loading img {
          width: 65%;
          height: 20vh; 
      }
 /* Navbar */
        .navbar .container h3 {
          font-size: 30px;
          font-weight: 500; }
 /* Home Page Carousel */
        #showcase{
          margin-left: 0 !important;
          margin-right: 0 !important;
      }
      .carousel-img-1 {
          background: url("../img/Carousel/PM-100.png") no-repeat center;
          background-size: cover;  
      }
      .carousel-img-6 {
          background: url("../img/Carousel/FlowChartResponsive.png") no-repeat center;
          background-size: cover;  
      }
      .carousel-item {
          /* height: 150px; */
          height: 250px;
          width: 100%; 
      }
      .carousel-caption{
        padding-bottom: 0 !important;
        right: 0 !important;
      }
      .carousel-item .container .carousel-caption  h1{
        font-size: 16px; 
      }
      .carousel-item .container .carousel-caption p {
          /* display: none;  */
          font-size: 13px;
      }
      .carousel-item .container .carousel-caption .btn {
          font-size: 10px; 
      } 
      .carousel .carousel-control-prev{
          left: 20px;
          width: 30px;
          height: 30px;
      }
      .carousel .carousel-control-next{
          right: 23px;
          width: 30px;
          height: 30px;
      }
      
  /* Home Page home icon section */
      .weird-section .weird-container{
          padding: 0 !important;
      }
  /* Home Page (Text animation) */
      .center-div {
          min-height: 10vh;
      }
  /* Home Page About BJMC */
      .aboutBJMC{
          padding: 30px 40px;
      }
  /* Home Page - Home Info */
      .align-self-center{
        padding-left: 40px;
      }
      #homeInfo .container p{
        padding-right: 20px;
      }
      #homeInfo .border-Animated{
          margin-top: 40px !important;
      }
  /* Home Page - Home Get Started */
      #getStarted {
          min-height: 430px; 
      } 
      #getStarted .container h2 {
          font-size: 2rem; 
          font-weight: 500;
      }
      #getStarted .container p{
          font-size: 1.3rem;
          font-weight: normal;
      }
  /* Home Page - Gallery */
      #productgallery .gallery .box{
          width: 300px;
      }
      .gallery .box .imgBox img {
          width: 300px;
      }
  /* footer Copy Right */
  .copyrighttext p span{
    display: block;
  }
  /* About Us Page */
      #secWrapper {
          margin-top: 15vh; 
      }
      .about-left {
          width: 100%;
      }
      .about-right {
        /* margin-top: 12vh;  */
          margin-top: 20vh;
          padding: 30px;
      }
      .article {
          /* margin-top: 180vh;  */
          margin-top: 140vh;
      }
      .article-border {
  border: 4px dotted #008000;
  /* border: 4px groove; */
  
} 
      #author{
          margin-bottom: 60px;
          width: 95%;
      }
      .aboutUs-footer-sci{
        padding-left: 0 !important;
      }
 /* News section Gallery/Blog */
      #particles-js{
         width: 100%;  
         height: 300vh; 
         margin-bottom: 50px;
     }
  /* Services Page */
      .rotatingContainer{
          margin-top: 110px;
          margin-bottom: -20px;
          height: 20vh;
          font-size: 23px;
          font-weight: 500;
      }
      .wrapper-rotating{
          height: 30px;
          padding: 30px 25px;
      }
      .containerProduct {
          padding: 40px; 
      }
      #productDisplay .containerProduct .imageProduct img{
        width: 100%;
        height: 250px !important;
      }
      .containerProduct .text-center{
          padding: 25px !important;
      }
      .containerProduct .text-center .marginTop{
          margin-top: 30px !important;
      }     
  /* Contact Us Page */
      .text-animation{
          width: 100%;
          height: 140px;
          margin-top: 120px;
          margin-bottom: -70px;
      }
      .text-animation .infinity-text h1{
          font-size: 55px;
          animation: back 30s linear infinite;   
      }
}

@media screen and (max-width: 375px){
  /* News section Gallery/Blog */
      #particles-js{
         width: 100%;  
         height: 280vh; 
     }
}



